{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    {{ encore_entry_link_tags('home') }}#}
{#{% endblock %}#}
{#{% block javascripts %}#}
{#    {{ encore_entry_script_tags('home') }}#}
{#{% endblock %}#}

{% block body %}
    <div class="p-10">

        <div class="text-3xl pb-10 text-center">
            <b>jameskitt616</b>
        </div>

        <div class="text-xl lg:w-2/3 2xl:w-2/5 m-auto text-center">
            <div class="flex mb-5">
                <div class="w-1/2">
                    <a title="Blog" href="{{ path('blog_list') }}"
                       class="p-2 rounded bg-gray-600 hover:bg-gray-700">
                        Blog
                    </a>
                </div>
                <div class="w-1/2">
                    <a title="Blog" href="{{ path('contact') }}"
                       class="p-2 rounded bg-gray-600 hover:bg-gray-700">
                        Contact
                    </a>
                </div>
            </div>
            <div>
                <img src="{{ asset('build/images/james_r6s.png') }}"
                     alt="missing image">
                <div class="p-2 text-center">
                    <div class="flex py-2">
                        <a title="Twitch" href="https://www.twitch.tv/jameskitt616" target="_blank"
                           class="w-1/2 fab fa-twitch text-gray-500 hover:text-white px-4"></a>
                        <a title="Twitter" href="https://twitter.com/jameskitt616" target="_blank"
                           class="w-1/2 fab fa-twitter text-gray-500 hover:text-white px-4"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
