{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5 text-center">
        <div class="mt-24 mb-8 border rounded p-3 w-2/3 m-auto text-center">
            <a href="{{ path('blog_post', {id: post.id}) }}" class="text-gray-400 hover:text-white float-left" title="Back">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="m-4">
                {{ form_start(form) }}

                {{ form_row(form.title, {
                    label: 'Title:',
                    attr: {
                        'class': 'border rounded-lg w-full p-1 bg-gray-600 border-gray-600 mb-5',
                    }
                }) }}


                {{ form_row(form.text, {
                    label: 'Text:',
                    attr: {
                        'class': 'border rounded-lg w-full p-1 bg-gray-600 border-gray-600',
                        'style': 'min-height: 250px;',
                    }
                }) }}
                <div class="text-xs mb-5">
                    &lta href="https://signal.org" target="_blank" class="underline">Signal&lt/a&gt
                </div>

                {{ form_row(form.removePicture, {
                    label: 'Remove Picture:'
                }) }}

                <div>Image:</div>
                <div class="text-red-600">
                    {{ form_errors (form.imageFile) }}
                </div>
                {{ form_widget(form.imageFile, {
                    label: 'Text:',
                    attr: {
                        'class': 'border rounded-lg w-full p-1 bg-gray-600 border-gray-600'
                    }
                }) }}

                <button type="submit" class="p-2 mt-6 rounded bg-gray-600 hover:bg-gray-700">
                    Update
                </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
