{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}

{% block body %}
    <div class="p-5">
        <div class="text-3xl pb-10 text-center">
            <b>jameskitt616's Blog</b>
        </div>

        <div class="mb-4">
            <a href="{{ path('create_blog_post') }}" class="p-2 my-3 rounded border bg-gray-600 hover:bg-gray-700">
                Create Post
            </a>
        </div>

        <div class="text-xl">
            {% for post in posts %}
                <div class="pb-2">
                    <a class="hover:underline cursor-pointer" href="{{ path('blog_post', {id: post.id}) }}">
                        {{ post.title }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
