{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}

{% block body %}
    <div class="p-5">
        <div class="text-3xl pb-10 text-center">
            <b>jameskitt616's Blog</b>
        </div>

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="float-right">
                    <a href="{{ path('create_blog_post') }}" class="p-2 text-2xl text-gray-400 hover:text-white">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <br><br>
            {% endif %}

            <div class="text-xl w-full lg:w-2/3 2xl:w-2/5 m-auto text-center">
                {% for post in posts %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('blog_post', {id: post.id}) }}">
                            <div class="mb-3 bg-gray-600 hover:bg-gray-700 p-1 rounded cursor-pointer">
                                {{ post.title }}
                                <div class="text-xs">
                                    {{ post.createdAt|date('Y-m-d') }}
                                    {% if post.visible == 1 %}
                                        <i class="fas fa-eye"></i>
                                    {% else %}
                                        <i class="fas fa-eye-slash"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% else %}
                        {% if post.visible == 1 %}
                            <a href="{{ path('blog_post', {id: post.id}) }}">
                                <div class="mb-3 bg-gray-600 hover:bg-gray-700 p-1 rounded cursor-pointer">
                                    {{ post.title }}
                                    <div class="text-xs">{{ post.createdAt|date('Y-m-d') }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
